<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<main>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">Profix money lenders</a>
            <div class="d-flex">
                <a href="/signup" class="btn btn-primary">Sign up</a>
            </div>
        </div>
    </nav>

    <section class='container mt-6rem'>
        <div class='row'>
            <div class='col-lg-5 order-2 order-lg-0'>
                <h1 class='content__white-body-header fs-5rem fw-bold'>
                    Easy scheduling <span class='text-primary'>ahead</span>
                </h1>
                <p class='content__white-body-text'>
                    JSDD-Calendar helps you manage your calendar, scheduling meetings professionally and efficiently,
                    eliminating the hassle of back-and-forth emails so you can get back to work.
                </p>
            </div>
            <div class='col-lg-6 offset-lg-1'>
                <img src="/images/hero-banner.svg" alt="hero-banner" class="img-fluid">
            </div>
        </div>
    </section>
</main>
</body>
</html>